{erl_opts, [debug_info]}.
{deps, [
	%{cecho, {git, "https://github.com/m7a/cecho.git", {branch, "masysma_patches"}}},
	%{erlmpd, {git, "https://github.com/m7a/bo-erlmpd.git", {branch, "master"}}}
]}.
{relx, [
	{release, {maenmpc, "0.1.0"}, [maenmpc, sasl, erlmpd]},
        {mode, dev},
	{include_erts, false},
	{extended_start_script, true}
]}.
{shell, [
	{apps, [kernel, stdlib, sasl, erlmpd]}
]}.
