[{maenmpc, [
	{mpd, [
		{local, [{ip, {"172.17.0.1", 6600}}]},
		{m16,   [{ip, {"172.17.0.1", 6601}}]}
	]},
	{alsa, "/proc/asound/RAVENNA/pcm0p/sub0/hw_params"},
	{primary_ratings, local},
	{radio, #{
		schedule_len    => 60,
		chaos_factor    => 2.0,
		initial_factor  => 0.5,
		min_good_perc   => 30,
		default_rating  => 60,
		discard_prefix  => <<"epic/">>
	}},
	{maloja, [
		{url, "http://127.0.0.1:42010/apis/mlj_1"},
		{key, "NKPCt5Ej7vkilkRtx5EubIa4fG78xhPEbcljU49rHVjDUgV5WmEHl3VDHjZFDrQK"},
		{scrobble_send, true}
	]},
	{podcast, #{
		conf     => "/data/programs/music2/supplementary/news/conf",
		glob     => "/data/programs/music2/supplementary/news/pod/**/*.mp3",
		timeout  => 50000,
		interval => 300000,
		mpd  => [
			{local, [
				% optional, if resampling is wanted
				{samplerate, 88200},
				% target file on local or remote file system
				{target_fs, "/data/programs/music2/track/x_podcast/podcast.flac"},
				% same file as referred to from MPD
				{target_mpd, "track/x_podcast/podcast.flac"}
			]},
			{m16, [
				% SSH example
				{samplerate, 96000},
				{target_fs, "/var/lib/mpd/music/track/x_podcast/podcast.flac"},
				{target_mpd, "track/x_podcast/podcast.flac"},
				% SSH-specific keys passed as options, some we parse
				% ourselves - NB there may need to be some test command
				% line that users may enter to setup the user_dir?
				{ssh, [
					% ip automatically replaced by user_interaction,
					% "false" later...
					{ip, {"192.168.1.22", 22}},
					{user, "mpd"},
					{user_dir, "/data/main/101_administrative/60t69_keys/65_machines/101.65.17_masysma-16/userdir"}
				]}
			]}
		]
	}}
]},
{kernel, [
	{error_logger, {file, "/tmp/maenmpc.log"}}]}
].
