[{maenmpc, [
	{mpd, [
		{local, [{ip, {"172.17.0.1", 6600}}]},
		{m16,   [{ip, {"172.17.0.1", 6601}}]}
	]},
	{primary_ratings, local},
	{radio, #{
		schedule_len    => 60,
		chaos_factor    => 2.0,
		initial_factor  => 0.5,
		min_good_perc   => 30,
		default_rating  => 60
	}},
	{maloja, [
		{url, "http://127.0.0.1:42010/apis/mlj_1"},
		{key, "NKPCt5Ej7vkilkRtx5EubIa4fG78xhPEbcljU49rHVjDUgV5WmEHl3VDHjZFDrQK"}
	]}
]},
{kernel, [{error_logger, {file, "/tmp/maenmpc.log"}}]}
].
